<html lang="en" class="csstransforms csstransforms3d csstransitions"><head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CSE6242-Team35</title>
<meta name="description" content="Personal Website">
<meta name="author" content="CSE6242-Team35">


<link rel="shortcut icon" href="static/img/favicon.jpg" type="static/image/x-icon">


<link href="static/css/jquery.circliful.css" rel="stylesheet" type="text/css" />
<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="static/js/jquery.circliful.min.js"></script>
<script data-module="cloudflare/rocket" id="cfjs_block_554d18cf0a" onload="CloudFlare.__cfjs_block_554d18cf0a_load()" onerror="CloudFlare.__cfjs_block_554d18cf0a_error()" onreadystatechange="CloudFlare.__cfjs_block_554d18cf0a_readystatechange()" type="text/javascript" src="http://www.frenchoverflow.com/cdn-cgi/nexp/dok3v=1613a3a185/cloudflare/rocket.js"></script>

<link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome/css/font-awesome.css">

<link rel="stylesheet" type="text/css" href="static/css/style.css">
<link rel="stylesheet" type="text/css" href="static/css/prettyPhoto.css">
<link href="http://fonts.googleapis.com/css?family=Lato:400,700,900,300" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300" rel="stylesheet" type="text/css">
<script type="text/rocketscript" data-rocketsrc="js/modernizr.custom.js" data-rocketoptimized="true"></script><script type="text/javascript" src="http://www.frenchoverflow.com/js/modernizr.custom.js"></script>
<script type="text/rocketscript" data-rocketoptimized="true">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85796013-1', 'auto');
  ga('send', 'pageview');

</script>


<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<header id="header">
<div class="intro">
<div class="container">
<div class="row">
<div class="intro-text">
<h1>Welcome to Our <br> <span class="name">Beer Recommender</span></h1>
<p>We aim to help you find your next favorite beer!</p>
<a href="#recommender" class="btn btn-default btn-lg page-scroll">BEER RECOMMENDER</a></div>
</div>
</div>
</div>
</header>

<div id="nav" class="affix-top">
<nav class="navbar navbar-custom">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> <i class="fa fa-bars"></i> </button>
<a class="navbar-brand page-scroll" href="#page-top">Cheers!</a> </div>

<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
<ul class="nav navbar-nav">

<li class="hidden"> <a href="#page-top"></a> </li>
<li> <a class="page-scroll" href="/#about">A Guide to Beer Style</a> </li>
<li> <a class="page-scroll" href="/#popularity">Popularity by Style</a> </li>
<li> <a class="page-scroll" href="/#recommender">Personalized Recommender</a> </li>
<li> <a class="page-scroll" href="/#portfolio">Blogs</a></li>

</ul>
</div>
</div>
</nav>
</div>

<div id="about">
<div class="container">
<div class="section-title text-center center">
<h2>A Guide to Beer Style</h2>
<hr>
</div>
<div class="row">
<div class="col-md-12 text-center"><img src="static/img/style.jpg" class="img-responsive"></div>
<div class="col-md-8 col-md-offset-2">
<div class="about-text">
<p>A “beer style” or “style of beer” is typically a term used to categorize beers by considering a variety of factors. Common factors include the appearance, flavor, ingredients, origin, history, and production method.
<br><br>
<font size="4"><b>Styling by Location</b></font>
<br>
The first way to determine the style of the beer is by looking at its origin. The geographic origin of a beer plays a significant role in determining what ingredients are used, what the original flavor profile is, and may affect the brewing process. For example, there is a noticeable difference between an American, English, and Belgian IPA. The same is true for all types of beers.
<br><br>
<font size="4"><b>Styling By Ingredients &amp; Brewing Process</b></font>
<br>
Another popular way to determine the style of a beer is by focusing on the ingredients and the brewing process. Any number of ingredient combinations can churn out a different beer based upon the brewing process. Similar to styling by location, styling by ingredients in the brewing process can be difficult as well. It has become even more complicated with the introduction of hybrid beers.
<br><br>
<font size="4"><b>A Breakdown of Common Beer Styles</b></font>
<br>
With all this in mind, there are still a handful of different types of beer which are readily agreed upon. Here is a quick look at the most common styles found in the United States (from light to dark).
<br><br>
<b>Pilsner<br></b>
The pilsner is not only the most popular styles of beer in the world, it’s also the youngest. It is a light, clean and simple pale lager. Usually a light to golden yellow, the pilsner features a strong hoppy flavor that is both fragrant and slightly bitter.
<br><br>
<b>Wheat Beer</b>
<br>
Wheat beers are actually similar to some of the first brewed beers. They are a mixture of barley and wheat grains and have very little hops presence. They are typically cloudy in appearance and the range of flavors is significant depending on the type of wheat used. Traditionally, this style of beer accounts for many popular summer and spring seasonal brews.
<br><br>
<b>Brown Ale</b>
<br>
The brown ale typically has a dark brown or amber color. Historically, it is an extremely old style of beer whose history can be traced back to un-hot ales. They typically have a higher malt level which gives them an earthier and less bitter flavor. Brown ales may also have a slightly sweet flavor.
<br><br>
<b>Pale Ale</b>
<br>
The pale ale is one of the most popular beer styles in the world. Made by a warm fermentation method and pale malt, this style has a wide range of flavor and strength. In the UK, a pale ale has a strong malty flavor whereas in the United States it has more hops.
<br><br>
<b>India Pale Ale</b>
<br>
The India Pale Ale, also commonly referred to as an IPA, comes from the 1700’s when English troops lived in India. Additional hops were added to their typical beer to keep it from spoiling before their ship reached Indian shores. This style is known to have a strong hoppy flavor with a slightly bitter taste. The color of an IPA can range from a light golden yellow to a darker red amber.
<br><br>
<b>Bocks</b>
<br>
A bock beer is stronger than your average beer. This popular beer style has a robust malt flavor. The bock originates from German monasteries where it was used as sustenance during Lenten fasts, but is now commonly brewed all around the world.
<br><br>
<b>Porter</b>
<br>
Orginally brewed in London in the 18th century, the porter is a very dark style of beer. A porter includes roasted malts or roasted barley, and are typically mild beers with hints of chocolate and toffee.
<br><br>
<b>Stouts</b>
<br>
Stouts are always 100% opaque and are consistently the darkest beers. The head of a stout beer is extremely thick and usually brown. They have a controversial history, however it is widely believed that the stout style originally derived from porters. They feature a heavily roasted flavor and often contain hints of chocolate, licorice, molasses, or coffee.</p>

</div>
</div>
</div>
</div>
</div>

<div id="popularity" class="text-center" style="background: #7bc3d1;">
<div class="container">
<div class="section-title center" style="margin-top: 100px;">
<h2 style="color: #FFF">Popularity by Style</h2>
<hr style="background: rgba(255,255,255,0.3);">
<p style="color: #FFF"><br>Brewers and drinkers enjoy more variety in their beer options today than at any point in history. Let’s familiarize ourselves with the popular classic styles that have defined modern brewing over the years. The percentages indicate the popularity of each style of beer that is collected and analyzed from millions of comments on beeradvocate.com.
</p>
</div>
<div class="row" style="margin-bottom: 150px;">
<div class="col-md-4 col-sm-5 skill"> <div class="style_circle" style="width: 60%" data-percent="3.524045546049638"></div>
<h4 style="color: #FFF;">Bocks</h4>
</div>
<div class="col-md-4 col-sm-5 skill"> <div class="style_circle" style="width: 60%" data-percent="3.459190452120049"></div>
<h4 style="color: #FFF;">Brown Ales</h4>
</div>
<div class="col-md-4 col-sm-5 skill"> <div class="style_circle" style="width: 60%" data-percent="4.300415854139696"></div>
<h4 style="color: #FFF;">Dark Ales</h4>
</div>
<div class="col-md-4 col-sm-5 skill"> <div class="style_circle" style="width: 60%" data-percent="4.296823297916191"></div>
<h4 style="color: #FFF;">Dark Lagers</h4>
</div>
<div class="col-md-4 col-sm-5 skill"> <div class="style_circle" style="width: 60%" data-percent="0.7098134770019677"></div>
<h4 style="color: #FFF;">Hybrid Beers</h4>
</div>
<div class="col-md-4 col-sm-5 skill"> <div class="style_circle" style="width: 60%" data-percent="14.621892911571435"></div>
<h4 style="color: #FFF;">India Pale Ales</h4>
</div>
<div class="col-md-4 col-sm-5 skill"> <div class="style_circle" style="width: 60%" data-percent="17.025754216211378"></div>
<h4 style="color: #FFF;">Pale Ales</h4>
</div>
<div class="col-md-4 col-sm-5 skill"> <div class="style_circle" style="width: 60%" data-percent="8.449061964661853"></div>
<h4 style="color: #FFF;">Pilsners and Pale Lagers</h4>
</div>
<div class="col-md-4 col-sm-5 skill"> <div class="style_circle" style="width: 60%" data-percent="4.7653052349216636"></div>
<h4 style="color: #FFF;">Porters</h4>
</div>
<div class="col-md-4 col-sm-5 skill"> <div class="style_circle" style="width: 60%" data-percent="5.183806521308901"></div>
<h4 style="color: #FFF;">Specialty Beers</h4>
</div>
<div class="col-md-4 col-sm-5 skill"> <div class="style_circle" style="width: 60%" data-percent="11.487860311329662"></div>
<h4 style="color: #FFF;">Stouts</h4>
</div>
<div class="col-md-4 col-sm-5 skill"> <div class="style_circle" style="width: 60%" data-percent="14.540902828287158"></div>
<h4 style="color: #FFF;">Strong Ales</h4>
</div>
<div class="col-md-4 col-sm-5 skill"> <div class="style_circle" style="width: 60%" data-percent="4.558071465397381"></div>
<h4 style="color: #FFF;">Wheat Beers</h4>
</div>
<div class="col-md-4 col-sm-5 skill"> <div class="style_circle" style="width: 60%" data-percent="3.0770559190830285"></div>
<h4 style="color: #FFF;">Wild/Sour Beers</h4>
</div>
</div>
</div>
</div>
</div>

<div id="recommender" class="text-center">
<div class="container">
<div class="section-title text-center">
<h2 style="color: #FFF;"><font size="6">Personalized Recommender<br><br><hr style="background: rgba(255,255,255,0.3);"></h2></font>
<font size="5"> Option One: </font><br><font size="3.5">If you currently have a user id on beeradvocate.com, <br>please enter it here and we will pick for you! </font><br><br>
            <form action="/userid" method="post">
                <font size="4">User ID<br></font>
                <input type="text" name="userid" style="color: #000"> <br>
                <br>
<input type="submit" name= "form" class="btn btn-primary" value="Submit" style="color: #FFF"/><br><br><br>
</form>
<p><font size="5"> Option Two: </font><br><font size="3.5">Select your favorite beer style and rate your preferences from<br>1 to 5 in each field. 1 is least important, 5 is most important.  </font><br><br>

          <form action="/attribute" method="post">
                <font size="4">Style<br></font>
                <!-- <input type="text" name="style" list="stylename" style="color: #000"> -->
                <!-- <select name="style" list="stylename" style="color: #000"> -->
                <select name="style" style="color: #000">

                              <option value="All">All</option>
                              <option value="Bocks">Bocks</option>
                              <option value="Brown Ales">Brown Ales</option>
                              <option value="Dark Ales">Dark Ales</option>
                              <option value="Dark Lagers">Dark Lagers</option>
                              <option value="Hybrid Beers">Hybrid Beers</option>
                              <option value="India Pale Ales">India Pale Ales</option>
                              <option value="Pale Ales">Pale Ales</option>
                              <option value="Pilseners and Pale Lagers">Pilsners and Pale Lagers</option>
                              <option value="Porters">Porters</option>
                              <option value="Specialty Beers">Specialty Beers</option>
                              <option value="Stouts">Stouts</option>
                              <option value="Strong Ales">Strong Ales</option>
                              <option value="Wheat Beers">Wheat Beers</option>
                              <option value="Wild/Sour Beers">Wild/Sour Beers</option>

                </select><br><br>


                <font size="4">Appearance<br></font>
                <!-- <input type="text" name="appearance" list="weight" style="color: #000"> <br> -->
                <select  name="appearance" list="weight" style="color: #000"> <br>
                          <datalist id="weight">
                              <option value="1">1</option>
                              <option value="1.5">1.5</option>
                              <option value="2">2</option>
                              <option value="2.5">2.5</option>
                              <option value="3">3</option>
                              <option value="3.5">3.5</option>
                              <option value="4">4</option>
                              <option value="4.5">4.5</option>
                              <option value="5">5</option>
                          </datalist>
                </select><br><br>

                <font size="4">Aroma<br></font>
                <!-- <input type="text" name="aroma" list="weight" style="color: #000"><br> -->
                <select name="aroma" list="weight" style="color: #000"><br>
                          <datalist id="weight">
                              <option value="1">1</option>
                              <option value="1.5">1.5</option>
                              <option value="2">2</option>
                              <option value="2.5">2.5</option>
                              <option value="3">3</option>
                              <option value="3.5">3.5</option>
                              <option value="4">4</option>
                              <option value="4.5">4.5</option>
                              <option value="5">5</option>
                          </datalist>
                </select><br><br>

                <font size="4">Palate<br></font>
                <!-- <input type="text" name="palate" list="weight"style="color: #000"><br> -->
                <select name="palate" list="weight"style="color: #000"><br>
                          <datalist id="weight">
                              <option value="1">1</option>
                              <option value="1.5">1.5</option>
                              <option value="2">2</option>
                              <option value="2.5">2.5</option>
                              <option value="3">3</option>
                              <option value="3.5">3.5</option>
                              <option value="4">4</option>
                              <option value="4.5">4.5</option>
                              <option value="5">5</option>
                          </datalist>
                </select><br><br>

                <font size="4">Taste<br></font>
                <!-- <input type="text" name="taste" list="weight" style="color: #000"><br> -->
                <select name="taste" list="weight" style="color: #000"><br>
                          <datalist id="weight">
                              <option value="1">1</option>
                              <option value="1.5">1.5</option>
                              <option value="2">2</option>
                              <option value="2.5">2.5</option>
                              <option value="3">3</option>
                              <option value="3.5">3.5</option>
                              <option value="4">4</option>
                              <option value="4.5">4.5</option>
                              <option value="5">5</option>
                          </datalist>
                  </select><br><br>

                <input type="submit" class="btn btn-primary" value="Submit" style="color: #FFF"/>
            </form>

        * Apperance: beer's color, clarity, head retention and lacing; Aroma: beer's smell; Palate: beer's body,<br>carbonation, warmth, creaminess, astringency and other palate sensations; Taste: beer's flavor characteristics;
        </p>



</div>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>

<div id="portfolio">
<div class="container">
<div class="section-title text-center center">
<h2>Blogs</h2>
<hr>
</div>
<div class="row">
<div class="portfolio-items">
<div class="col-sm-6 col-md-4 col-lg-4 article_1">
<div class="portfolio-item">
<div class="hover-bg"> <a href="https://www.beeradvocate.com/articles/17688/fresh-from-the-can-cranberry-beers-and-ciders-for-the-holiday-table/" target="_blank" title="whether you’re looking for something different to wash down the beef brisket with, or need a new companion for that slice (or three) of apple pie you’re looking forward to, here are a handful of beers—along with a couple of ciders and a “session” mead—to try with your holiday meal this year." rel="prettyPhoto">
<div class="hover-text">
<h4>Fresh From the Can: Cranberry Beers and Ciders for the Holiday Table</h4>
<small>
Food &amp;  Drink by Ben Keene | Nov 2018</small> </div>
<img src="static/img/articles_cover/beer_holiday.jpg" class="img-responsive" alt="Fresh From the Can: Cranberry Beers and Ciders for the Holiday Table"> </a> </div>
</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-4 article_2">
<div class="portfolio-item">
<div class="hover-bg"> <a href="https://www.beeradvocate.com/articles/17529/how-to-homebrew-any-style-of-white-beer-with-a-universal-base-recipe/" target="_blank"title="Drew’s Base White Beer
For 5.5 gallons at 1.053 | 3.7 SRM | 13 IBU | 5.4% ABV

Grain
8.5 lbs Pilsner malt
4.5 lbs wheat malt, raw wheat, oats, or oat malt  (or a blend)

Hops
0.25 oz Magnum | 12% AA (alpha acid) | 60 minutes
0.50 oz Hallertau (or something Noble) | 4.8% AA | 10 minutes

Spices (as appropriate)
1/4 tsp coriander
1/4 tsp salt
1/4 tsp black pepper
1/4 tsp chamomile
1 tbsp citrus peel

Yeast
Choose a local region base yeast—Belgian Wit, Hefe, etc." rel="prettyPhoto">
<div class="hover-text">
<h4>How to Homebrew Any Style of White Beer with a Universal Base Recipe</h4>
<small>BYOB by Drew Beechum | Nov 2018</small> </div>
<img src="static/img/articles_cover/homebrew.jpg" class="img-responsive" alt="How to Homebrew Any Style of White Beer with a Universal Base Recipe"> </a> </div>
</div>
</div>
<div class="col-sm-6 col-md-4 col-lg-4 article_3">
<div class="portfolio-item">
<div class="hover-bg"> <a href="https://www.beeradvocate.com/articles/17631/how-to-make-a-molechelada-beer-cocktail/" target="_blank" title="1 bar spoon full of chili powder salt mixture (2 parts chili powder, 1 part salt)
1/4 oz fresh lime juice
dash Creole Bitters (1/2 vile)
6–8 dashes Cholula hot sauce
Second Self Mole Porter (or another mole-inspired beer like Due South’s Mexican Standoff or Copper Kettle’s Mexican Chocolate Stout)" rel="prettyPhoto">
<div class="hover-text">
<h4>How to Make a Molechelada Beer Cocktail</h4>
<small>Kindred Spirits by Ben Keene | Oct 2018</small> </div>
<img src="static/img/articles_cover/beer_cocktail.jpg" class="img-responsive" alt="How to Make a Molechelada Beer Cocktail"> </a> </div>
</div>
</div>
<p class="text-center"><a class="btn btn-primary" href="#page-top">Back to Top</a> </p>
</div>
</div>
</div>
</div>



<div id="footer">
<div class="container text-center">
<div class="fnav">
  <p>Copyright  ©&nbsp;2018 CSE6242-Team35</p>
  <p>&nbsp;</p>
</div>
</div>
</div>
<script type="text/rocketscript" data-rocketsrc="js/jquery.1.11.1.js" data-rocketoptimized="true"></script>
<script type="text/rocketscript" data-rocketsrc="js/bootstrap.js" data-rocketoptimized="true"></script>
<script type="text/rocketscript" data-rocketsrc="js/SmoothScroll.js" data-rocketoptimized="true"></script>
<script type="text/rocketscript" data-rocketsrc="js/easypiechart.js" data-rocketoptimized="true"></script>
<script type="text/rocketscript" data-rocketsrc="js/jquery.prettyPhoto.js" data-rocketoptimized="true"></script>
<script type="text/rocketscript" data-rocketsrc="js/jquery.isotope.js" data-rocketoptimized="true"></script>
<script type="text/rocketscript" data-rocketsrc="js/jquery.counterup.js" data-rocketoptimized="true"></script>
<script type="text/rocketscript" data-rocketsrc="js/waypoints.js" data-rocketoptimized="true"></script>
<script type="text/rocketscript" data-rocketsrc="js/jqBootstrapValidation.js" data-rocketoptimized="true"></script>
<script type="text/rocketscript" data-rocketsrc="js/contact_me.js" data-rocketoptimized="true"></script>
<script type="text/rocketscript" data-rocketsrc="js/main.js" data-rocketoptimized="true"></script>
<script>
    $( document ).ready(function() {
    $(".style_circle").each(function(){
    $(this).circliful({
                animationStep: 0.5,
                foregroundBorderWidth: 5,
                backgroundBorderWidth: 5,
				        pointSize: 10,
				        foregroundColor: "black",
				        backgroundColor: "white",
						    fontColor: 'black',
                percent: $(this).attr("data-percent")

});
});
});
</script>

</body></html>
